.bg-img{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: -999;
    overflow: hidden;
}
.my-head{
    text-align: center;
}
.loop-img{
    max-width: 640px;
    margin: 0 auto;
}
.loop-img ul{
    list-style: none;
}
.loop-img ul li{
    position: relative;
}
.loop-img ul li span{
    float: left;
    position: absolute;
    left: 50px;
    top:50px;
    color: rgba(169,3,41, 0.8);
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 160px;
    z-index: 10;
}
.imageAnimation1 img{
    max-width: 100%;
    height: auto;
    text-shadow: 5px 5px 5px #FF0000;
    -webkit-animation: imageAnimation1 5s linear infinite 0s;
    -moz-animation: imageAnimation1 5s linear infinite 0s;
    -o-animation: imageAnimation1 5s linear infinite 0s;
    -ms-animation: imageAnimation1 5s linear infinite 0s;
    animation: imageAnimation1 5s linear infinite 0s;
}
.imageAnimation2 img{
    max-width: 100%;
    height: auto;
    -webkit-animation: imageAnimation2 5s linear infinite 0s;
    -moz-animation: imageAnimation2 5s linear infinite 0s;
    -o-animation: imageAnimation2 5s linear infinite 0s;
    -ms-animation: imageAnimation2 5s linear infinite 0s;
    animation: imageAnimation2 5s linear infinite 0s;
}
.imageAnimation3 img{
    max-width: 100%;
    height: auto;
    -webkit-animation: imageAnimation3 5s linear infinite 0s;
    -moz-animation: imageAnimation3 5s linear infinite 0s;
    -o-animation: imageAnimation3 5s linear infinite 0s;
    -ms-animation: imageAnimation3 5s linear infinite 0s;
    animation: imageAnimation3 5s linear infinite 0s;
}
.imageAnimation4 img{
    max-width: 100%;
    height: auto;
    -webkit-animation: imageAnimation4 5s linear infinite 0s;
    -moz-animation: imageAnimation4 5s linear infinite 0s;
    -o-animation: imageAnimation4 5s linear infinite 0s;
    -ms-animation: imageAnimation4 5s linear infinite 0s;
    animation: imageAnimation4 5s linear infinite 0s;
}
.imageAnimation5 img{
    max-width: 100%;
    height: auto;
    -webkit-animation: imageAnimation5 5s linear infinite 0s;
    -moz-animation: imageAnimation5 5s linear infinite 0s;
    -o-animation: imageAnimation5 5s linear infinite 0s;
    -ms-animation: imageAnimation5 5s linear infinite 0s;
    animation: imageAnimation5 5s linear infinite 0s;
}
.imageAnimation0
{
    animation-name:imageAnimation0; /*规定 @keyframes 动画的名称*/
    animation-duration:5s;  /*规定动画完成一个周期所花费的秒或毫秒*/
    animation-timing-function:linear; /*规定动画的速度曲线。默认是 "ease"*/
    animation-delay:2s; /*规定动画何时开始。默认是 0*/
    animation-iteration-count:infinite; /*规定动画被播放的次数。默认是 1*/
    animation-direction:alternate;  /*规定动画是否在下一周期逆向地播放。默认是 "normal"*/
    animation-play-state:running;  /*规定动画是否正在运行或暂停。默认是 "running"*/
    /* Firefox: */
    -moz-animation-name:myfirst;
    -moz-animation-duration:5s;
    -moz-animation-timing-function:linear;
    -moz-animation-delay:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:alternate;
    -moz-animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:myfirst;
    -webkit-animation-duration:5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
    /* Opera: */
    -o-animation-name:myfirst;
    -o-animation-duration:5s;
    -o-animation-timing-function:linear;
    -o-animation-delay:2s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:alternate;
    -o-animation-play-state:running;
}


/*淡出淡入*/
@-webkit-keyframes imageAnimation1 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }
    75% {
        opacity: 0.5;
    }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation1 {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    25% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }
    50% {
        opacity: 1;
        -moz-transform: scale(1.1) rotate(3deg);
    }
    75% {
        opacity: 0;
        -moz-transform: scale(1.1) rotate(10deg);
    }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation1 {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }
    25% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }
    50% {
        opacity: 1;
        -o-transform: scale(1.1) rotate(3deg);
    }
    75% {
        opacity: 0;
        -o-transform: scale(1.1) rotate(10deg);
    }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation1 {
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
    }
    25% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }
    50% {
        opacity: 1;
        -ms-transform: scale(1.1) rotate(3deg);
    }
    75% {
        opacity: 0;
        -ms-transform: scale(1.1) rotate(10deg);
    }
    100% { opacity: 0 }
}
@keyframes imageAnimation1 {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    25% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    50% {
        opacity: 1;
        transform: scale(1.1) rotate(3deg);
    }
    75% {
        opacity: 0;
        transform: scale(1.5) rotate(10deg);
    }
    100% { opacity: 0 }
}
/*淡出淡入，变大变小*/

/*移动*/
@keyframes imageAnimation2
{
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px; }
    50%  {left:200px; top:200px;transform:scale(0.5)}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

@-moz-keyframes imageAnimation2 /* Firefox */
{
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;transform:scale(0.5)}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

@-webkit-keyframes imageAnimation2 /* Safari and Chrome */
{
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;transform:scale(0.5)}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

@-o-keyframes imageAnimation2 /* Opera */
{
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;transform:scale(0.5)}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}
/*移动*/

/*旋转*/
@keyframes imageAnimation3
{
    50%  {transform: scale(0.1) rotate(360deg);opacity: 0.1;}
}

@-moz-keyframes imageAnimation3 /* Firefox */
{
    50%  {transform: scale(0.1) rotate(360deg);opacity: 0.1;}
}

@-webkit-keyframes imageAnimation3 /* Safari and Chrome */
{
    50%  {transform: scale(0.1) rotate(360deg);opacity: 0.1;}
}

@-o-keyframes imageAnimation3 /* Opera */
{
    50%  {transform: scale(0.1) rotate(360deg);opacity: 0.1;}
}
/*旋转*/
/*倾斜*/
@keyframes imageAnimation4
{
    50%  {transform: skew(90deg,0deg)}
    100%  {transform: skew(180deg,0deg)}
}

@-moz-keyframes imageAnimation4 /* Firefox */
{
    50%  {transform: skew(90deg,0deg)}
    100%  {transform: skew(180deg,0deg)}
}

@-webkit-keyframes imageAnimation4 /* Safari and Chrome */
{
    50%  {transform: skew(90deg,0deg)}
    100%  {transform: skew(180deg,0deg)}
}

@-o-keyframes imageAnimation4 /* Opera */
{
    50%  {transform: skew(90deg,0deg)}
    100%  {transform: skew(180deg,0deg)}
}
/*倾斜*/
/*圆角*/
@keyframes imageAnimation5
{
    50%  {border-radius: 50%;border: 1px solid #ddd;
        padding: 5px;}
    100%  {border-radius: 50%;border: 1px solid #ddd;
        padding: 5px;}
}

@-moz-keyframes imageAnimation5 /* Firefox */
{
    50%  {border-radius: 50%}
}

@-webkit-keyframes imageAnimation5 /* Safari and Chrome */
{
    50%  {border-radius: 50%}
}

@-o-keyframes imageAnimation5 /* Opera */
{
    50%  {border-radius: 50%}
}
/*圆角*/
/***************** Cube3 ********************/
.te-cube3 .te-cube-front{
    -webkit-transform: scale3d(.858,.858,.858) translate3d(0,0,164px);
}
.te-cube3 .te-cube-right{
    -webkit-transform: scale3d(.858,.858,.858) rotate3d(0,1,0,90deg) translate3d(0,0,164px);
}
.te-cube3 .te-cube-left{
    -webkit-transform: scale3d(.858,.858,.858) rotate3d(0,1,0,-90deg) translate3d(0,0,164px);
}
.te-cube3 .te-cube-top{
    -webkit-transform: scale3d(.858,.858,.858) rotate3d(1,0,0,90deg) translate3d(0,0,164px);
}
.te-cube3 .te-cube-bottom{
    -webkit-transform: scale3d(.858,.858,.858) rotate3d(0,1,0,-90deg) translate3d(0,0,164px);
}
.te-cube3.te-show{
    -webkit-animation: cube3 1s ease-in-out;
}
@-webkit-keyframes cube3{
    0% { -webkit-transform: rotate3d(0,1,0,0); }
    40% { -webkit-transform: rotate3d(0,1,0,-100deg); }
    60% { -webkit-transform: rotate3d(0,1,0,-84deg); }
    80% { -webkit-transform: rotate3d(0,1,0,-90deg); }
    95% { -webkit-transform: rotate3d(0,1,0,-88deg); }
    100% { -webkit-transform: rotate3d(0,1,0,-90deg); }
}
/***************** Cube4 ********************/


